.cards-warapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  max-width: var(--content-width);
  width: 100%;
  padding: 0 var(--spacing-lg);
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 6%;
  height: 50%;
  max-height: 23rem;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, var(--color-main-yellow) 0%, var( --color-main-magenta) 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);

  svg {
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-basic-white);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: var(--color-basic-black);
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: var(--color-main-dark-blue);
  line-height: 1.4;
}
