.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 2rem;
    max-width: var(--content-width);
    margin: 0 auto;
}

.navbar {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.avatar img {
    width: 47px;
    height: 47px;
}

.circle {
    background: url(../../assets/status.svg);
    height: 18px;
    width: 18px;
}

.navbar-item {
    width: 8rem;
    text-align: center;
}

a {
    color: var(--color-basic-white);
    text-decoration: unset;
}
