.navbar-wrapper {
    box-sizing: border-box; /*with padding*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px var(--spacing-lg);
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
}

.navbar {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.avatar img {
    width: 47px;
    height: 47px;
}

.circle {
    background: url(../../assets/img/status.svg);
    height: 18px;
    width: 18px;
}

.navbar-item {
    width: 8rem;
    text-align: center; 
}

a {
    color: var(--color-basic-white);
    text-decoration: unset;
}

.router-link-active{
    background: var(--gradient-linear-white) bottom no-repeat;
    background-size: 128px 1px;
}
